# --- Local Data (From your defaults.yaml) ---
# We exclude the actual content to keep the repo light
/media-vault/
/reports/
/transcripts/
/final-reports/
/summaries/

# --- Configuration ---
# Exclude your specific local setup
configs/defaults.yaml
configs/prompts.yaml
# But we will NOT exclude configs/defaults.yaml.example

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- git specific ---
.git/
.gitignore
..gitignore.swp

# --- Dev files & directories to ignore ---
2-17-26-1-50pm-backup.tar.gz
2-19-26-2am-backup.tar.gz
2-19-26-6-45pm-backup.tar.gz
2-20-26-11am-backup.tar.gz
2‑22‑26‑4‑35am‑backup.tar.gz
2‑24‑26‑5‑15pm‑backup.tar.gz
questions-to-ask.txt
run-all.sh
run-some.sh
quick-run.sh
run-austin.sh
run-houston.sh
tmp_processing/
transcribe-all.txt
transcribe-final.txt
transcribe-these-videos.txt
voice_biometrics_research.md
austin-HRC-meetings.txt
dallas-city-council-meetings.txt
debug_output.txt
questions-to-ask.txt
test_katz.py
test_houston_connector.py
houston‑video‑urls.txt
patterson‑nj‑meetings.txt
test_dallas_connector2.py
test_dallas_connector.py
test_dallas_html_detailed.py
test_dallas_html.py
test_err.yaml



# --- Local Workspaces ---
/workspaces/
/media/
/logs/
/db/
